/* 4 - External */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

/* classes */
.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}

/* id */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
}

/* ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.title {
    border-bottom: 3px solid blue;
}

#algum_titulo_id {
    border-bottom: yellow solid 4px;
}

/* nome de cores  */
.color-name {
    color: rgb(119, 7, 30);
}

.paragrafo-hex {
    color: #55a325;
}

.hex-2 {
    color: #123123;
}

/* aprofundando hex */
.simple-hex1 {
    color: #a5f;
}

.simple-hex2 {
    color: #f9e;
}

/* cores rgb  */
.rgb-color {
    color: rgb(255,0,0);
}

.rgba-color {
    color: rgba(25,180,18,0.9);
}

.hsl-color {
    color: hsl(100, 20%, 50%);
}

.bg {
    background-color: #000;
    color: yellow;
}

.bg-2 {
    background-color: rgb(200,20,40);
    color: aqua;
}

.bg-opacity {
    background-color: green;
    opacity: .2;
}

.bg-opacity-2 {
    background-color: #999;
    opacity: .5;
    color: black;
}

.bg-opacity-rgba {
    background-color: rgba(90, 120, 20, 0.2);
    color: black;
}

.imagem-bg {
    background-image: url("../../2-HTML/img/city.jpg");
    padding: 10px;
    color: white;
}

/* centralizadno imagem  */
.not-centered-bg, 
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url("../../2-HTML/img/bridge.jpg");
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* largura e altura  */

.height-width {
    height: 300px;
    width: 100px;
    background-color: red;
}

.height-width-2 {
    background-color: grey;
    height: 200px;
}

/* padding */

.without-paggind,
.padding {
    background-color: #111;
    color: white;
}

.padding {
    padding: 20px;
    background-color: gray;
}

.padding-individual {
    background-color: #f9e;
    color: black;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
}

/* shorthad properties top -> rigth ->  bottom -> left */
.shorthand-padding {
    background-color: #55a325;
    padding: 6px 12px 18px 24px; /*top -> rigth ->  bottom -> left */
}

.shorthand-padding-2 {
    background-color: aqua;
    color: #000;
    padding: 20px 50px;
    /* equivalente padding: 20px 50px 20px 50px; */
}

/* pádding com width */

.without-border-box {
    background-color: red;
    color: white;
    width: 400px;
    padding: 50px;
}
/* border box basicamente fala, voce tem que respeitar o width final  */
.border-box {
    background-color: yellow;
    color: black;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* bordas */
.border {
    border: 5px solid red;
    padding: 10px;
}

.border-2 {
    border: 2px dotted blue;
    padding: 30px;
}

.border-left {
    border-left: 3px solid red;
    padding: 25px;
    background-color: gray;
}

.border-bottom {
    border-bottom: 10px double red;
    padding: 50px;
    background-color: darkslategrey;
}

/* borda arredondada */

.rounded-p {
    border: 4px solid blue;
    background-color: black;
    color: blue;
    padding: 15px;
    border-radius: 15px;
}

.rounded-p-2 {
    background-color: black;
    color: blue;
    padding: 15px;
    border-radius: 15px;
    margin-top: 5px;
}

.margin {
    background-color: gray;
    margin: 10px;
}

.margin-top {
    margin-top: 50px;
    background-color: #999;
    padding: 10px;
}

.margin-left {
    margin-left: 100px;
    background-color: red;
}

.margin-shorthands {
    margin: 5px 10px 15px 20px;
    background-color: gold;
}

/* box model  */
.box-model {
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid #845;
    border-radius: 15px;
    width: 200px;
    height: 150px;
    text-align: center;
}

/* centralização de texto */
.text-alingned {
    text-align: right;
}

.container-center {
    text-align: center;
    border: 5px solid red;
}

.underline {
    text-decoration: underline;
}

.line-trough {
    text-decoration: line-through;
}

.remove-underline {
    text-decoration: none;
}

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

.espacamento-letras {
    letter-spacing: 10px;
    border-bottom: 5px solid red;
}

/* fontes  */

.serif {
    font-family: Georgia;
}
.sans-serif {
    font-family: Helvetica;
}

.monospace {
    font-style: "Courier New";
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}

/* text-style */
.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 900;
}

.inline-box {
    width: 50px;
    height: 50px;
    background-color: #55a325;
    margin: 10px;
    display: inline-block;
}

.block {
    background-color: gray;
    display: block;
}

.invisible {
    display: none;
}

.static {
    position: static;
    background-color: #a5f;
    color: black;
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.relative {
    position: relative;
    background-color: #55a325;
    color: black;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    top: 20px;
    left: 50px;
}
.absolute {
    position: absolute;
    background-color: red;
    color: black;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    top: 50px;
    right: 50px;
}

.relative-container {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin-top: 120px;
}

.absolute-1,
.absolute-2 {
    width: 50px;
    height: 50px;
    background-color: brown;
    position: absolute;
}

.absolute-1 {
    top: 50px;
    left: 50px;
}

/* temos tambe o positon sticky e o fixed 
(ambos servem para barra de navegação geralmente) */
