body {
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;

}
.purple {
    background-color: purple;
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    z-index: 0;
}

.main-container {
    background-color: #fff;
    max-width: 800px;
    position: relative;
    margin: 50px auto;
    padding: 20px;
}
.form-item {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}

.form-item input,
.form-item textarea {
    display: block;
    width: 400px;
    border: none;
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
}
